.header {
    /* padding: 2rem 10%; */
    margin: 2rem 10%;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #087ba8;
  }
  
  .logo {
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: #2862b9;
  }
  
  .button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #2862b9;
    color: rgb(198, 232, 243);
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #6ca8f7;
    color: black;
  }